<section>
	<div class="billboard swiper-container">
		<div class="swiper-wrapper">
			<ng-container *ngFor="let data of rec">
				<div class="swiper-slide">
					<img
						class="parallax-bg"
						src="{{ data.image }}"
						alt="{{ data.title }}"
						title="{{ data.title }}"
					/>
					<div class="center-text">
						<div class="title" data-swiper-parallax="-300">
							<h1>{{ data.title }}</h1>
						</div>
						<div class="text" data-swiper-parallax="-100">
							<p>{{ data.synopsis }}</p>
						</div>
					</div>
				</div>
			</ng-container>
			<!--Ende von Swiper-->
			<!-- Add Pagination -->
			<div class="swiper-pagination swiper-pagination-white"></div>
			<!-- Add Navigation -->
			<div
				id="start-bt"
				class="swiper-button-prev swiper-button-white"
			></div>
			<div
				id="start-bt"
				class="swiper-button-next swiper-button-white"
			></div>
		</div>
		<!--Ende von Swiper-Reccomendation-->
	</div>
</section>
