<section  id="start">
<!--Swiper-Recommendation-->
<div class="billboard swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="parallax-bg" src="./assets/recommend/4ee860ca-3b62-43fd-b47d-1f45d2649dd8._UR3000,600_SX3000_FMwebp_.jpg">
            <div class="center-text">
                <div class="title" data-swiper-parallax="-300"><h1>W2W</h1></div>
                <div class="subtitle" data-swiper-parallax="-200">Who we are</div>
                <div class="text" data-swiper-parallax="-100">
                    <p>Want to know what’s new or catch on thing before they leave your Streaming Service, than welcome to <br><strong>W2W</strong></p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
                <img src="assets/recommend/099fa944-e12f-4432-b0a8-0fca78ca9be8._UR3000,600_SX3000_FMwebp_.jpg">
        </div>
        <div class="swiper-slide">
                <img src="assets/recommend/9704c6fc-5ec7-4aad-bfc6-df34922fbb73._UR3000,600_SX3000_FMwebp_.jpg">
        </div>
        <div class="swiper-slide">
                <img src="assets/recommend/837a3cdd-ac71-4bb0-81b3-b1f70ac4ddaa._UR3000,600_SX3000_FMwebp_.jpg">
        </div>
    </div><!--Ende von Swiper-->
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Navigation -->
    <div id="start-bt" class="swiper-button-prev swiper-button-white"></div>
    <div id="start-bt" class="swiper-button-next swiper-button-white"></div>
</div>
<!--Ende von Swiper-Reccomendation-->
</section>