<section>
	<div class="billboard swiper-container" [style.backgroundColor]="bgColor">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="center-text" style="background-color: black;">
					<div class="title" data-swiper-parallax="-300">
						<h1>W2W</h1>
					</div>
					<div class="subtitle" data-swiper-parallax="-200">
						Who we are
					</div>
					<div class="text" data-swiper-parallax="-100">
						<p>
							Want to know what’s new or catch on thing before
							they leave your Streaming Service, than welcome to
							<br /><strong>W2W</strong>
						</p>
					</div>
				</div>
			</div>
			<div
				class="swiper-slide"
				[style.backgroundColor]="bgColor"
				*ngFor="let data of rec"
			>
				<img
					class="parallax-bg"
					src="{{ data.image }}"
					alt="{{ data.title }}"
					title="{{ data.title }}"
				/>
				<div class="center-text" style="background-color: black;">
					<div class="title" data-swiper-parallax="-300">
						<h1>{{ data.title }}</h1>
					</div>
					<div class="text" data-swiper-parallax="-100">
						<p>
							{{ data.synopsis }}
						</p>
					</div>
				</div>
			</div>
			<!--Ende von Swiper-->
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination swiper-pagination-white"></div>
		<!-- Add Navigation -->
		<div id="start-bt" class="swiper-button-prev swiper-button-white"></div>
		<div id="start-bt" class="swiper-button-next swiper-button-white"></div>
		<!--Ende von Swiper-Reccomendation-->
	</div>
</section>
