<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img
				class="border-picture"
				title="{{ data.title }}"
				alt="{{ data.title }}"
				src="{{ data.image }}"
				loading="lazy"
			/>
		</div>
		<div class="flip-card-back" [style.color]="colors">
			<h1>Title: <br />{{ data.title }}</h1>
			<p>
				Watch:
				<a href="https://www.netflix.com/title/{{ data.netflixid }}">
					<p>
						<fa-icon [icon]="faPlayCircle"></fa-icon>
					</p>
				</a>
			</p>
			<p>Type: {{ data.type }}</p>
			<p>Rating: <br />{{ data.rating }}</p>
			<p>Added: <br />{{ data.unogsdate }}</p>
		</div>
	</div>
</div>
