<footer class="footer-index is-hidden-touch">
    <div style="display:table-row;">
        <div class="navFooterLinkCol">
            <div class="navFooterColHead">Über W2W</div>
            <ul>
                <li style="word-break:break-all;">Karriere bei uns</li>
                <li>Über uns</li>
            </ul>
        </div>
        <div class="foot-space" style="display:table-cell;">
        </div>
        <div class="navFooterLinkCol">
            <div class="navFooterColHead">Über W2W</div>
            <ul>
                <li>Karriere bei uns</li>
                <li>Über uns</li>
            </ul>
        </div>
        <div class="foot-space" style="display:table-cell;">
        </div>
        <div class="navFooterLinkCol">
            <div class="navFooterColHead">Über W2W</div>
            <ul>
                <li>Karriere bei uns</li>
                <li>Über uns</li>
            </ul>
        </div>   
        <div class="foot-space" style="display:table-cell;">
        </div>
        <div class="navFooterLinkCol">
            <div class="navFooterColHead">Über W2W</div>
            <ul>
                <li>Karriere bei uns</li>
                <li>Über uns</li>
            </ul>
        </div>      
    </div>
</footer>