.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
  }
.navbar {
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
    background-color: transparent;
}
  .navbar.is-white {
    background-color: white;
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-brand > .navbar-item,
  .navbar.is-white .navbar-brand .navbar-link {
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-brand > a.navbar-item:focus, .navbar.is-white .navbar-brand > a.navbar-item:hover, .navbar.is-white .navbar-brand > a.navbar-item.is-active,
  .navbar.is-white .navbar-brand .navbar-link:focus,
  .navbar.is-white .navbar-brand .navbar-link:hover,
  .navbar.is-white .navbar-brand .navbar-link.is-active {
    background-color: #f2f2f2;
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-brand .navbar-link::after {
    border-color: #0a0a0a;
  }

  .navbar.is-white .navbar-burger {
    color: #0a0a0a;
  }

  @media screen and (min-width: 1024px) {
    .navbar.is-white .navbar-start > .navbar-item,
    .navbar.is-white .navbar-start .navbar-link,
    .navbar.is-white .navbar-end > .navbar-item,
    .navbar.is-white .navbar-end .navbar-link {
      color: #0a0a0a;
    }
    .navbar.is-white .navbar-start > a.navbar-item:focus, .navbar.is-white .navbar-start > a.navbar-item:hover, .navbar.is-white .navbar-start > a.navbar-item.is-active,
    .navbar.is-white .navbar-start .navbar-link:focus,
    .navbar.is-white .navbar-start .navbar-link:hover,
    .navbar.is-white .navbar-start .navbar-link.is-active,
    .navbar.is-white .navbar-end > a.navbar-item:focus,
    .navbar.is-white .navbar-end > a.navbar-item:hover,
    .navbar.is-white .navbar-end > a.navbar-item.is-active,
    .navbar.is-white .navbar-end .navbar-link:focus,
    .navbar.is-white .navbar-end .navbar-link:hover,
    .navbar.is-white .navbar-end .navbar-link.is-active {
      background-color: #f2f2f2;
      color: #0a0a0a;
    }
    .navbar.is-white .navbar-start .navbar-link::after,
    .navbar.is-white .navbar-end .navbar-link::after {
      border-color: #0a0a0a;
    }
    .navbar.is-white .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-white .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-white .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: #f2f2f2;
      color: #0a0a0a;
    }
    .navbar.is-white .navbar-dropdown a.navbar-item.is-active {
      background-color: white;
      color: #0a0a0a;
    }
  }

  .navbar.is-black {
    background-color: #0a0a0a;
    color: white;
  }

  .navbar.is-black .navbar-brand > .navbar-item,
  .navbar.is-black .navbar-brand .navbar-link {
    color: white;
  }

  .navbar.is-black .navbar-brand > a.navbar-item:focus, .navbar.is-black .navbar-brand > a.navbar-item:hover, .navbar.is-black .navbar-brand > a.navbar-item.is-active,
  .navbar.is-black .navbar-brand .navbar-link:focus,
  .navbar.is-black .navbar-brand .navbar-link:hover,
  .navbar.is-black .navbar-brand .navbar-link.is-active {
    background-color: black;
    color: white;
  }

  .navbar.is-black .navbar-brand .navbar-link::after {
    border-color: white;
  }

  .navbar.is-black .navbar-burger {
    color: white;
  }

  @media screen and (min-width: 1024px) {
    .navbar.is-black .navbar-start > .navbar-item,
    .navbar.is-black .navbar-start .navbar-link,
    .navbar.is-black .navbar-end > .navbar-item,
    .navbar.is-black .navbar-end .navbar-link {
      color: white;
    }
    .navbar.is-black .navbar-start > a.navbar-item:focus, .navbar.is-black .navbar-start > a.navbar-item:hover, .navbar.is-black .navbar-start > a.navbar-item.is-active,
    .navbar.is-black .navbar-start .navbar-link:focus,
    .navbar.is-black .navbar-start .navbar-link:hover,
    .navbar.is-black .navbar-start .navbar-link.is-active,
    .navbar.is-black .navbar-end > a.navbar-item:focus,
    .navbar.is-black .navbar-end > a.navbar-item:hover,
    .navbar.is-black .navbar-end > a.navbar-item.is-active,
    .navbar.is-black .navbar-end .navbar-link:focus,
    .navbar.is-black .navbar-end .navbar-link:hover,
    .navbar.is-black .navbar-end .navbar-link.is-active {
      background-color: black;
      color: white;
    }
    .navbar.is-black .navbar-start .navbar-link::after,
    .navbar.is-black .navbar-end .navbar-link::after {
      border-color: white;
    }
    .navbar.is-black .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-black .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-black .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: black;
      color: white;
    }
    .navbar.is-black .navbar-dropdown a.navbar-item.is-active {
      background-color: #0a0a0a;
      color: white;
    }
  }

  .navbar > .container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
  }

  .navbar.has-shadow {
    box-shadow: 0 2px 0 0 whitesmoke;
  }

  .navbar.is-fixed-bottom, .navbar.is-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }

  .navbar.is-fixed-bottom {
    bottom: 0;
  }

  .navbar.is-fixed-bottom.has-shadow {
    box-shadow: 0 -2px 0 0 whitesmoke;
  }

  .navbar.is-fixed-top {
    top: 0;
  }

  html.has-navbar-fixed-top,
  body.has-navbar-fixed-top {
    padding-top: 3.25rem;
  }

  html.has-navbar-fixed-bottom,
  body.has-navbar-fixed-bottom {
    padding-bottom: 3.25rem;
  }

  .navbar-brand,
  .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
  }

  .navbar-brand a.navbar-item:focus, .navbar-brand a.navbar-item:hover {
    background-color: transparent;
  }

  .navbar-tabs {
    -webkit-overflow-scrolling: touch;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .navbar-burger {
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
  }

  .navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
  }

  .navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
  }

  .navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
  }

  .navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
  }

  .navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .navbar-burger.is-active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .navbar-burger.is-active span:nth-child(2) {
    opacity: 0;
  }

  .navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }

  .navbar-menu {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
  }

  .navbar-item .icon:only-child,
  .navbar-link .icon:only-child {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }

  a.navbar-item,
  .navbar-link {
    cursor: pointer;
  }

/* Dieser Code f�r Hover wird nicht mehr ben�tigt
    a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    .navbar-link.is-active {
        background-color: #fafafa;
        color: #3273dc;
    }
  */
  .navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .navbar-item img {
    max-height: 1.75rem;
  }

  .navbar-item.has-dropdown {
    padding: 0;
  }

  .navbar-item.has-dropdown1 {
    padding: 0;
  }
  .navbar-item.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .navbar-item.is-tab {
    border-bottom: 1px solid transparent;
    min-height: 3.25rem;
    padding-bottom: calc(0.5rem - 1px);
  }

  .navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
    background-color: transparent;
    border-bottom-color: #3273dc;
  }

  .navbar-item.is-tab.is-active {
    background-color: transparent;
    border-bottom-color: #3273dc;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    color: #3273dc;
    padding-bottom: calc(0.5rem - 3px);
  }

  .navbar-content {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .navbar-link:not(.is-arrowless) {
    padding-right: 2.5em;
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: #3273dc;
    margin-top: -0.375em;
    right: 1.125em;
  }

  .navbar-dropdown {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .navbar-dropdown .navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .navbar-divider {
    background-color: whitesmoke;
    border: none;
    display: none;
    height: 2px;
    margin: 0.5rem 0;
  }

  @media screen and (max-width: 1023px) {
    .navbar > .container {
      display: block;
    }
    .navbar-brand .navbar-item,
    .navbar-tabs .navbar-item {
      align-items: center;
      display: flex;
    }
    .navbar-link::after {
      display: none;
    }
    .navbar-menu {
      background-color: black;
      box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
      padding: 0.5rem 0;
    }
    .navbar-menu.is-active {
      display: block;
    }
    .navbar.is-fixed-bottom-touch, .navbar.is-fixed-top-touch {
      left: 0;
      position: fixed;
      right: 0;
      z-index: 30;
    }
    .navbar.is-fixed-bottom-touch {
      bottom: 0;
    }
    .navbar.is-fixed-bottom-touch.has-shadow {
      box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
    }
    .navbar.is-fixed-top-touch {
      top: 0;
    }
    .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
      -webkit-overflow-scrolling: touch;
      max-height: calc(100vh - 3.25rem);
      overflow: auto;
    }
    html.has-navbar-fixed-top-touch,
    body.has-navbar-fixed-top-touch {
      padding-top: 3.25rem;
    }
    html.has-navbar-fixed-bottom-touch,
    body.has-navbar-fixed-bottom-touch {
      padding-bottom: 3.25rem;
    }
    .navbar-item.has-dropdown-up .navbar-link::after {
        transform: rotate(135deg) translate(0.25em, -0.25em);
    }
    .navbar-item.has-dropdown1 .navbar-dropdown{
        display: none;
    }
    .navbar-item.has-dropdown1.is-active .navbar-dropdown {
        display: block;
    }
    .navbar-item.has-dropdown1.is-active .navbar-link:not(.is-arrowless)::after {
        border: 3px solid blue;
        border-radius: 2px;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 0.625em;
        margin-top: -0.4375em;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: rotate(135deg);
        transform-origin: center;
        width: 0.625em;
    }
  }

  @media screen and (min-width: 1024px) {
    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
      align-items: stretch;
      display: flex;
    }
    .navbar {
      min-height: 3.25rem;
    }
    .navbar.is-spaced {
      padding: 1rem 2rem;
    }
    .navbar.is-spaced .navbar-start,
    .navbar.is-spaced .navbar-end {
      align-items: center;
    }
    .navbar.is-spaced a.navbar-item,
    .navbar.is-spaced .navbar-link {
      border-radius: 4px;
    }
    .navbar.is-transparent a.navbar-item:focus, .navbar.is-transparent a.navbar-item:hover, .navbar.is-transparent a.navbar-item.is-active,
    .navbar.is-transparent .navbar-link:focus,
    .navbar.is-transparent .navbar-link:hover,
    .navbar.is-transparent .navbar-link.is-active {
      background-color: transparent !important;
    }
    .navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
      background-color: transparent !important;
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item:focus, .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
      background-color: whitesmoke;
      color: #0a0a0a;
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
      background-color: whitesmoke;
      color: #3273dc;
    }
    .navbar-burger {
      display: none;
    }
    .navbar-item,
    .navbar-link {
      align-items: center;
      display: flex;
    }
    .navbar-item {
      display: flex;
    }
    .navbar-item.has-dropdown {
      align-items: stretch;
    }
    .navbar-item.has-dropdown-up .navbar-link::after {
      transform: rotate(135deg) translate(0.25em, -0.25em);
    }
    .navbar-item.has-dropdown-up .navbar-dropdown {
      border-bottom: 2px solid #dbdbdb;
      border-radius: 6px 6px 0 0;
      border-top: none;
      bottom: 100%;
      box-shadow: 0 -8px 8px rgba(10, 10, 10, 0.1);
      top: auto;
    }
    .navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block;
    }
    .navbar.is-spaced .navbar-item.is-active .navbar-dropdown, .navbar-item.is-active .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
    .navbar-menu {
      flex-grow: 1;
      flex-shrink: 0;
    }
    .navbar-start {
      justify-content: flex-start;
      margin-right: auto;
    }
    /*underline Anfang*/
    .navbar-menu .navbar-start {
        margin-top: 6px;
        padding: 0;
        text-align: left;
    }

    .navbar-menu .navbar-start .navbar-item {
        display: block;
        font-size: 16px;
    }

    .navbar-menu .navbar-start .navbar-item .underline {
        height: 3px;
        background-color: transparent;
        width: 0%;
        transition: all ease 0.5s;
        margin: 0 auto;
    }

    .navbar-menu .navbar-start .navbar-item.active-link .underline {
        width: 100%;
        background-color: white;
    }

    .navbar-menu .navbar-start .navbar-item:hover .underline {
        background-color: white;
        width: 100%;
    }

    .navbar-menu .navbar-start .navbar-item:active a {
        transition: none;
        color: rgba(255,255,255,0.76);
    }

    .navbar-menu .navbar-start .navbar-item:active .underline {
        transition: none;
        background-color: rgba(255,255,255,0.76);
    }
    /*underline ende*/
    .navbar-end {
      justify-content: flex-end;
      margin-left: auto;
    }
    .navbar-dropdown {
      background-color: black;
      color:white;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 2px solid #dbdbdb;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
      display: none;
      font-size: 0.875rem;
      left: 0;
      min-width: 100%;
      position: absolute;
      top: 100%;
      z-index: 20;
    }
    .navbar-dropdown .navbar-item {
        white-space: nowrap;
        text-align: center;
        display: none;
    }
    .navbar-dropdown a.navbar-item {
        padding-right: 3rem;
        display: none;
    }
    .navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
      background-color: whitesmoke;
      color: #0a0a0a;
    }
    .navbar-dropdown a.navbar-item.is-active {
      background-color: whitesmoke;
      color: #3273dc;
    }
    .navbar.is-spaced .navbar-dropdown, .navbar-dropdown.is-boxed {
      border-radius: 6px;
      border-top: none;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      display: block;
      opacity: 0;
      pointer-events: none;
      top: calc(100% + (-4px));
      transform: translateY(-5px);
      transition-duration: 86ms;
      transition-property: opacity, transform;
    }
    .navbar-dropdown.is-right {
      left: auto;
      right: 0;
    }
    .navbar-divider {
      display: block;
    }
    .navbar > .container .navbar-brand,
    .container > .navbar .navbar-brand {
      margin-left: -.75rem;
    }
    .navbar > .container .navbar-menu,
    .container > .navbar .navbar-menu {
      margin-right: -.75rem;
    }
    .navbar.is-fixed-bottom-desktop, .navbar.is-fixed-top-desktop {
      left: 0;
      position: fixed;
      right: 0;
      z-index: 30;
    }
    .navbar.is-fixed-bottom-desktop {
      bottom: 0;
    }
    .navbar.is-fixed-bottom-desktop.has-shadow {
      box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
    }
    .navbar.is-fixed-top-desktop {
      top: 0;
    }
    html.has-navbar-fixed-top-desktop,
    body.has-navbar-fixed-top-desktop {
      padding-top: 3.25rem;
    }
    html.has-navbar-fixed-bottom-desktop,
    body.has-navbar-fixed-bottom-desktop {
      padding-bottom: 3.25rem;
    }
    html.has-spaced-navbar-fixed-top,
    body.has-spaced-navbar-fixed-top {
      padding-top: 5.25rem;
    }
    html.has-spaced-navbar-fixed-bottom,
    body.has-spaced-navbar-fixed-bottom {
      padding-bottom: 5.25rem;
    }
    a.navbar-item.is-active,
    .navbar-link.is-active {
      color: #0a0a0a;
    }
    a.navbar-item.is-active:not(:focus):not(:hover),
    .navbar-link.is-active:not(:focus):not(:hover) {
      background-color: transparent;
    }
    .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: black;
    }
  }

  .hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 3.25rem);
  }
  @media screen and (max-width: 1023px) {
    .hero.is-black .navbar-menu {
      background-color: #0a0a0a;
    }
  }

  .hero.is-black .navbar-item,
  .hero.is-black .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .hero.is-black a.navbar-item:hover, .hero.is-black a.navbar-item.is-active,
  .hero.is-black .navbar-link:hover,
  .hero.is-black .navbar-link.is-active {
    background-color: black;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .hero.is-black.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
    }
  }
  .hero.is-light .navbar-item,
  .hero.is-light .navbar-link {
    color: rgba(0, 0, 0, 0.7);
  }

  .hero.is-light a.navbar-item:hover, .hero.is-light a.navbar-item.is-active,
  .hero.is-light .navbar-link:hover,
  .hero.is-light .navbar-link.is-active {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.7);
  }
  @media screen and (max-width: 768px) {
    .hero.is-light.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
    }
  }
  .hero.is-dark .navbar-item,
  .hero.is-dark .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .hero.is-dark a.navbar-item:hover, .hero.is-dark a.navbar-item.is-active,
  .hero.is-dark .navbar-link:hover,
  .hero.is-dark .navbar-link.is-active {
    background-color: #292929;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .hero.is-dark.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
    }
  }
  @media screen and (max-width: 1023px) {
    .hero.is-primary .navbar-menu {
      background-color: #00d1b2;
    }
  }

  .hero.is-primary .navbar-item,
  .hero.is-primary .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .hero.is-primary a.navbar-item:hover, .hero.is-primary a.navbar-item.is-active,
  .hero.is-primary .navbar-link:hover,
  .hero.is-primary .navbar-link.is-active {
    background-color: #00b89c;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .hero.is-primary.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #009e6c 0%, #00d1b2 71%, #00e7eb 100%);
    }
  }
  @media screen and (max-width: 1023px) {
    .hero.is-link .navbar-menu {
      background-color: #3273dc;
    }
  }

  .hero.is-link .navbar-item,
  .hero.is-link .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .hero.is-link a.navbar-item:hover, .hero.is-link a.navbar-item.is-active,
  .hero.is-link .navbar-link:hover,
  .hero.is-link .navbar-link.is-active {
    background-color: #2366d1;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .hero.is-link.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #1577c6 0%, #3273dc 71%, #4366e5 100%);
    }
  }
  @media screen and (max-width: 1023px) {
    .hero.is-info .navbar-menu {
      background-color: #3298dc;
    }
  }

  .hero.is-info .navbar-item,
  .hero.is-info .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .hero.is-info a.navbar-item:hover, .hero.is-info a.navbar-item.is-active,
  .hero.is-info .navbar-link:hover,
  .hero.is-info .navbar-link.is-active {
    background-color: #238cd1;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .hero.is-info.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #159dc6 0%, #3298dc 71%, #4389e5 100%);
    }
  }
  @media screen and (max-width: 1023px) {
    .hero.is-success .navbar-menu {
      background-color: #48c774;
    }
  }

  .hero.is-success .navbar-item,
  .hero.is-success .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .hero.is-success a.navbar-item:hover, .hero.is-success a.navbar-item.is-active,
  .hero.is-success .navbar-link:hover,
  .hero.is-success .navbar-link.is-active {
    background-color: #3abb67;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .hero.is-success.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #29b342 0%, #48c774 71%, #56d296 100%);
    }
  }
  .hero.is-warning .navbar-item,
  .hero.is-warning .navbar-link {
    color: rgba(0, 0, 0, 0.7);
  }

  .hero.is-warning a.navbar-item:hover, .hero.is-warning a.navbar-item.is-active,
  .hero.is-warning .navbar-link:hover,
  .hero.is-warning .navbar-link.is-active {
    background-color: #ffd83d;
    color: rgba(0, 0, 0, 0.7);
  }
  @media screen and (max-width: 768px) {
    .hero.is-warning.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #ffaf24 0%, #ffdd57 71%, #fffa70 100%);
    }
  }
  .hero.is-danger .navbar-item,
  .hero.is-danger .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .hero.is-danger a.navbar-item:hover, .hero.is-danger a.navbar-item.is-active,
  .hero.is-danger .navbar-link:hover,
  .hero.is-danger .navbar-link.is-active {
    background-color: #ef2e55;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .hero.is-danger.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #fa0a62 0%, #f14668 71%, #f7595f 100%);
    }
  }
