@media screen and (min-width: 768px) and (max-width: 1023px)
{
	.swiper-slide{
		width: 31%;
		height: 100%;
		margin-bottom: 0px !important;
	}
	/* Style the back side */
	.flip-card-back {
		background-color: black;
		color: white;
		/*transform: rotateY(180deg);*/
	}

	/*Tabs*/
	.columns{
		margin: 20px;
		display: block !important;
	}
    #flex-col{
		margin-bottom: 1%;
		overflow: hidden;
	}

	/*Services Swiper Buttons*/
	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}

	/*Netflix*/
	.center-pic{
    margin-top: 5%;
    margin-bottom: 5%;
  	}

}

@media screen and (min-width:1024px) and (max-width: 1439px) and (orientation: portrait)
{
	.columns{
		margin: 20px;
	}

    #flex-col{
		margin-bottom: 1%;
		padding: 0 1%;
	}
	
	.swiper-slide{
		width: 31%;
	}

	/* Style the back side */
	.flip-card-back {
		background-color: black;
		color: white;
		/*transform: rotateY(180deg);*/
	}

	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}
}
