@media screen and (max-width: 767px) and (orientation: portrait)
{
	.columns{
		margin: 0;
	}
	.swiper-slide{
		width: 28%;
	}
	.swiper-wrapper{
		height: auto;
	}


	/*Tabs*/
	.columns{
		margin: 20px;
		display: block !important;
	}
    #flex-col{
		margin-bottom: 1%;
		overflow: hidden;
	}

	/*Services Swiper Buttons*/
	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}
}


@media screen and (max-width: 767px) and (orientation: landscape)
{
	.swiper-slide{
		width: 28%;
	}
	.swiper-wrapper{
		height: auto;
	}


	/*Tabs*/
	.columns{
		margin: 20px;
	}
    #flex-col{
		margin-bottom: 1%;
	}


	/*Services Swiper Buttons*/
	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}
}




/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px)
{
	.swiper-wrapper{
		height: auto;
	}
	.columns{
		margin: 20px;
		display: block !important;
	}
    #flex-col{
		margin-bottom: 1%;
		overflow: hidden;
    }
	.swiper-slide{
		width: 31%;
	}

	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}

}

@media screen and (min-width:1024px ) and (max-width: 1439px) and (orientation: portrait)
{
	.columns{
		margin: 20px;
	}
    #flex-col{
		margin-bottom: 1%;
    }
	.swiper-slide{
		width: 31%;
	}

	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}
}


/* Desktop */
/*Search-bt*/
@media screen and (min-width: 1024px) and (max-width: 1439px) and (orientation: landscape) {
    * {
        box-sizing: border-box;
    }
    :root {
        --swiper-navigation-color: blue;
    }

    .columns {
        margin: 20px;
    }
    .box {
        display: flex;
    }
    .columns {
        margin-bottom: 0 !important;
    }
    :root {
        --swiper-navi-size: 20px;
    }

    /*Tab-bt*/
    #flex-col {
        margin-bottom: 5px;
    }

    /*Swiper-verti*/
    .swiper-container,
    .swiper-wrapper {
        height: 20vw;
    }

    .swiper-slide {
        width: calc(100% / 3.4);
        height: 20vw;
        border-radius: 5%;
        margin-left: 10px;
        margin-bottom: 0px !important;
    }

    #btprev-verti {
        transform: rotate(90deg);
        position: absolute;
        top: 30%;
        width: calc(var(--swiper-navi-size) / 39.5 * 16);
        height: var(--swiper-navi-size);
        margin-top: calc(-1 * var(--swiper-navi-size) / 2);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }
    #btnext-verti {
        transform: rotate(90deg);
        position: absolute;
        top: 70%;
        width: calc(var(--swiper-navi-size) / 39.5 * 16);
        height: var(--swiper-navi-size);
        margin-top: calc(-1 * var(--swiper-navi-size) / 2);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }
    #btprev-verti.swiper-button-prev:after,
    #btnext-verti.swiper-button-next:after {
        font-family: swiper-icons;
        font-size: var(--swiper-navi-size);
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
    }
    #btprev-verti.swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        right: 10px;
        left: auto;
    }
    .swiper-container-vertical
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        top: 55%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 8px;
    }
}


/* Monitor */
@media screen and (min-width: 1440px) and (max-width: 2200px) {
    .columns {
        margin: 20px;
        margin-bottom: 0 !important;
    }

    .box {
        display: flex;
    }
    :root {
        --swiper-navi-size: 20px;
        --swiper-navigation-color: blue;
    }

    /*Tab-bt*/
    #flex-col {
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5px;
        overflow: hidden;
    }

    /*Swiper-verti*/
    .swiper-container,
    .swiper-wrapper {
        height: 20vw;
    }

    .swiper-slide {
        width: calc(100% / 3.4);
        height: 20vw;
        border-radius: 5%;
        margin-left: 10px;
        margin-bottom: 0px !important;
    }

    #btprev-verti {
        transform: rotate(90deg);
        position: absolute;
        top: 30%;
        width: calc(var(--swiper-navi-size) / 39.5 * 16);
        height: var(--swiper-navi-size);
        margin-top: calc(-1 * var(--swiper-navi-size) / 2);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }
    #btnext-verti {
        transform: rotate(90deg);
        position: absolute;
        top: 70%;
        width: calc(var(--swiper-navi-size) / 39.5 * 16);
        height: var(--swiper-navi-size);
        margin-top: calc(-1 * var(--swiper-navi-size) / 2);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }
    #btprev-verti.swiper-button-prev:after,
    #btnext-verti.swiper-button-next:after {
        font-family: swiper-icons;
        font-size: var(--swiper-navi-size);
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
    }
    #btprev-verti.swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        right: 10px;
        left: auto;
    }
    .swiper-container-vertical
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        top: 55%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 8px;
    }
}


/* TV */
@media screen and (min-width: 2201px) and (orientation: landscape)
{
	.swiper-slide{
		width: auto;
	}
	.columns{
		margin: 20px;
		margin-bottom: 0 !important;
	}
	/*Column*/
	.box{
		display:flex;
	}


	/*Tabs*/
	#flex-col{
		overflow: hidden;
	}

	/*Streaming-services Swiper*/
	:root {
	--swiper-navi-size: 20px;
	--swiper-bullet-size: 20px;
	}
	.swiper-pagination.down-slide{
		position: relative;
		bottom: 0;
		padding: 1% 0 0 0;
	}
	.swiper-pagination.down-slide .swiper-pagination-bullet{
		height: var(--swiper-bullet-size);
		width: var(--swiper-bullet-size);
		background-color:grey;
	}
}

.column{
    padding: 0;
}
.tabs ul{
    border: none;
}
ul{
    margin-block-start: 0;
}
/*Tab-bt*/
#flex-col{
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}
#disney-logo{
    width: 80%;
    height: 90%;
    max-width: 100%;
}
