<div class="tile is-child">
	<div class="columns box" style="background-color: #10599e;">
		<!--Beginn von Mobile Logo-->
		<ng-container *ngTemplateOutlet="mobile ? Logo : ''"></ng-container>
		<!--Ende von Mobile Logo Column-->
		<div class="column full-half-2third">
			<mat-tab-group mat-stretch-tabs>
				<mat-tab label="Recently Released">
					<div class="home swiper-container" SwiperInit>
						<div class="home swiper-wrapper">
							<div class="swiper-slide" *ngFor="let cs of data">
								<app-flip-card [data]="cs" [colors]="cardStyle"></app-flip-card>
							</div>
						</div>
						<ng-container *ngTemplateOutlet="mobile ? '' : swiperExtra"></ng-container>
					</div>
				</mat-tab>
				<mat-tab label="Leaving Soon">
					<!-- <ng-template matTabContent> -->
					<div class="home swiper-container" SwiperInit>
						<div class="home swiper-wrapper">
							<div class="swiper-slide" *ngFor="let ls of expire">
								<app-flip-card [data]="ls" [colors]="cardStyle"></app-flip-card>
							</div>
						</div>
						<ng-container *ngTemplateOutlet="mobile ? '' : swiperExtra"></ng-container>
					</div>
					<!-- </ng-template> -->
				</mat-tab>
			</mat-tab-group>
		</div>
		<ng-container *ngTemplateOutlet="mobile ? '' : Logo"></ng-container>
	</div>
</div>

<ng-template #Logo>
	<div class="column full-half-third center-pic">
		<img id="sky-logo" src="{{ serviceLogo }}" />
	</div>
</ng-template>

<ng-template #swiperExtra>
	<!-- Add Pagination -->
	<div class="swiper-pagination down-slide swiper-pagination-white"></div>
	<!-- Add Arrows -->
	<div id="btnext-verti" class="swiper-button-next"></div>
	<div id="btprev-verti" class="swiper-button-prev"></div>
</ng-template>
