@media screen and (max-width: 767px) and (orientation: portrait) {
	.swiper-slide {
		width: 28%;
	}
	.swiper-wrapper {
		height: auto;
	}

	/*Tabs*/
	.columns {
		margin: 20px;
	}

	#flex-col {
		margin-bottom: 1%;
		overflow: hidden;
	}

	/*Services Swiper Buttons*/
	#btprev-verti {
		display: none;
	}
	#btnext-verti {
		display: none;
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	.swiper-slide {
		width: 28%;
	}
	.swiper-wrapper {
		height: auto;
	}

	/*Tabs*/
	.columns {
		margin: 20px;
	}
	#flex-col {
		margin-bottom: 1%;
	}

	/*Services Swiper Buttons*/
	#btprev-verti {
		display: none;
	}
	#btnext-verti {
		display: none;
	}
}
