@media screen and (min-width: 768px) and (max-width: 1023px) {
	.columns {
		margin: 20px;
		display: block !important;
	}
	#flex-col {
		margin-bottom: 1%;
		overflow: hidden;
	}
	.swiper-slide {
		width: 31%;
	}
	#btprev-verti {
		display: none;
	}
	#btnext-verti {
		display: none;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) and (orientation: portrait) {
	.columns {
		margin: 20px;
	}

	#flex-col {
		margin-bottom: 1%;
		padding: 0 1%;
	}
	.swiper-slide {
		width: 31%;
	}
	#btprev-verti {
		display: none;
	}
	#btnext-verti {
		display: none;
	}
}
