@media screen and (max-width: 500px) and (orientation: portrait) {
	.swiper-slide {
		width: 44%;
	}
	.center-pic {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}
@media screen and (min-width: 501px) and (max-width: 767px) and (orientation: portrait) {
	.swiper-slide {
		width: 28%;
	}

	.center-pic {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	.swiper-slide {
		width: 28%;
	}
	.center-pic {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.swiper-slide {
		height: 100%;
		margin-bottom: 0px !important;
	}
	/*Netflix*/
	.center-pic {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) and (orientation: portrait) {
	.swiper-slide {
		width: 31%;
	}
}

/*Search-bt*/
@media screen and (min-width: 1024px) and (max-width: 1439px) and (orientation: landscape) {
	.swiper-slide {
		width: calc(100% / 3.4);
		height: 20vw;
		border-radius: 5%;
		margin-left: 10px;
		margin-bottom: 0px !important;
	}
}

@media screen and (min-width: 1440px) and (max-width: 2200px) {
	.swiper-slide {
		width: calc(100% / 3.4);
		height: 20vw;
		border-radius: 5%;
		margin-left: 10px;
		margin-bottom: 0px !important;
	}
}

@media screen and (min-width: 2201px) and (orientation: landscape) {
	.swiper-slide {
		width: auto;
	}
}
