@media screen and (max-width: 500px) and (orientation: portrait)
{
	.swiper-wrapper{
		height: auto;
	}
	.swiper-slide{
		width: 44%;
	}

	/*Tabs*/
	.columns{
		margin: 20px;
	}

	/* Style the back side */
	.flip-card-back {
		background-color: #0f171e;
		color: white;
		/*transform: rotateY(180deg);*/
	}
    #flex-col{
		margin-bottom: 1%;
		overflow: hidden;
	}

	/*Services Swiper Buttons*/
	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}

	/*Netflix*/
  	.center-pic{
		margin-top: 5%;
		margin-bottom: 5%;
  	}
}

@media screen and (min-width: 501px) and (max-width: 767px) and (orientation: portrait)
{
	li.primetab a{
		font-size: 12px;
	}
	.swiper-slide{
		width: 28%;
	}
	.swiper-wrapper{
		height: auto;
	}

	.flip-card-back {
		background-color: #0f171e;
		color: white;
		/*transform: rotateY(180deg);*/
	}
	/*Tabs*/
	.columns{
		margin: 20px;
	}
    #flex-col{
		margin-bottom: 1%;
		overflow: hidden;
	}

	/*Services Swiper Buttons*/
	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}

	/*Prime*/
	.center-pic{
		margin-top: 5%;
		margin-bottom: 5%;
  	}
}


@media screen and (max-width: 767px) and (orientation: landscape)
{
	.swiper-slide{
		width: 28%;
	}
	.swiper-wrapper{
		height: auto;
	}
	.flip-card-back {
		background-color: #0f171e;
		color: white;
		/*transform: rotateY(180deg);*/
	}
	/*Tabs*/
	.columns{
		margin: 20px;
	}
    #flex-col{
		margin-bottom: 1%;
	}
	/*Services Swiper Buttons*/
	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}
}



